@font-face {
  	font-family: 'Museo-700';
  	src: url("../fonts/38FA35_0_0.eot");
  	src: url("../fonts/38FA35_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38FA35_0_0.woff2") format("woff2"), url("../fonts/38FA35_0_0.woff") format("woff"), url("../fonts/38FA35_0_0.ttf") format("truetype"); }

* {
  	font-family: 'Source Sans Pro', sans-serif; }

h1 {
  	font-family: "Museo-700";
  	font-size: 50px;
  	margin-bottom: 0px; 
  	text-shadow: 2px 2px black;
}

h2 {
	margin-top: 0px;
	font-size:20px;
}

p {
	font-size: 18px;
}

strong {
  font-weight: 700; }

.card {
  background: url('../img/Highlands.jpg') no-repeat center center fixed;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.card__img{
	height: 175px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 20px;
}

.card__content{
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	margin-bottom: 10px;
	padding: 2px;
}

.card__box{
	float: left;
	background-color: rgba(107, 107, 71, 0.65);
	width: 42.5%;
	margin-left: 3.5%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 25px;
	padding: 15px;
}	

.clear{
	clear: both;
}

.card__footer{
	border-radius: 25px;
	margin-top: 25px;
	width: 92.75%;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(107, 107, 71, 0.65);
}

a {
	color: white;
	font-size: 18px;

}
